@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  font-weight: normal;
}
@media screen and (min-width: 320px) {
  #app {
    margin: 0 auto;
    padding: 1rem 1rem;
  }
}
